aniketos-threatrepository/interface/src/main/resources/svrs/ArtefactSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.shields-project.eu/svrs"
    xmlns:tns="http://www.shields-project.eu/svrs"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:element name="artefact">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mimetype" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="content" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>