aniketos-threatrepository/interface/src/main/resources/svrs/SearchResultSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.shields-project.eu/svrs"
            xmlns:tns="http://www.shields-project.eu/svrs"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="searchresults">
        <xsd:complexType>
            <xsd:choice>
                <xsd:element name="resultset">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="totalresults" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                            <xsd:element name="returnedresults" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="startofresults" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="searchresult" minOccurs="1" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="resuuid" type="xsd:string" minOccurs="1"/>
                                        <xsd:element name="resversion" type="xsd:integer" minOccurs="1"/>
                                        <xsd:element name="resstatus" type="xsd:integer" minOccurs="1"/>
                                        <xsd:element name="restype" type="xsd:string" minOccurs="1"/>
                                        <!-- The resmimetype field is only used for artefacts. -->
                                        <xsd:element name="resmimetype" type="xsd:string" minOccurs="0"/>
                                        <xsd:element name="resname" type="xsd:string" minOccurs="1"/>
                                        <xsd:element name="resmodified" type="xsd:dateTime" minOccurs="1"/>
                                        <xsd:element name="rescomment" type="xsd:string" minOccurs="0"/>
                                        <!-- The fields below are only relevant for fetch-type searches (download all metadata at once) -->
                                        <!-- CORE ELEMENTS ONLY -->
                                        <xsd:element name="resdesc" type="xsd:string" minOccurs="0"/>
                                        <xsd:element name="resauthor" type="xsd:string" minOccurs="0"/>
                                        <xsd:element name="reslastmodifiedby" type="xsd:string" minOccurs="0"/>
                                        <xsd:element name="cvss" type="xsd:double" minOccurs="0"/>
                                        <xsd:element name="externalrefs" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="externalref" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>  
                                        <xsd:element name="tags" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="tag" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>   
                                        <!-- Associations are not included in search results; will include them if there is a use case later -->
                                        <xsd:element name="coreassociations" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="coreassociation" minOccurs="1" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="coreuuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                                                <xsd:element name="coreversion" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                                                                <xsd:element name="relation" minOccurs="1" maxOccurs="1">
                                                                    <xsd:simpleType>
                                                                        <xsd:restriction base = "xsd:string">
                                                                            <xsd:enumeration value = "verifies"/>
                                                                            <xsd:enumeration value = "implements"/>
                                                                            <xsd:enumeration value = "fulfils"/>
                                                                            <xsd:enumeration value = "prevents"/>
                                                                            <xsd:enumeration value = "explains"/>
                                                                            <xsd:enumeration value = "threatens"/>
                                                                            <xsd:enumeration value = "resultsin"/>
                                                                            <xsd:enumeration value = "removes"/>
                                                                            <xsd:enumeration value = "detects"/>
                                                                            <xsd:enumeration value = "indicates"/>
                                                                            <xsd:enumeration value = "mitigates"/>
                                                                            <xsd:enumeration value = "causes"/>
                                                                            <xsd:enumeration value = "childof"/>
                                                                            <xsd:enumeration value = "parentof"/>
                                                                            <xsd:enumeration value = "peerof"/>
                                                                            <xsd:enumeration value = "canalsobe"/>
                                                                        </xsd:restriction>
                                                                    </xsd:simpleType>
                                                                </xsd:element>
                                                                <xsd:element name="relationtype" minOccurs="1" maxOccurs="1">
                                                                    <xsd:simpleType>
                                                                        <xsd:restriction base = "xsd:string">
                                                                            <!-- Relation type: forward link (from this core element to another) -->
                                                                            <xsd:enumeration value = "forward"/>
                                                                            <!-- Relation type: backlink (from another core element to this one) -->
                                                                            <xsd:enumeration value = "backward"/>
                                                                        </xsd:restriction>
                                                                    </xsd:simpleType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="modelassociations" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="modelassociation" minOccurs="1" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="modeluuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                                                <xsd:element name="modelversion" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                                                                <xsd:element name="relation" minOccurs="1" maxOccurs="1">
                                                                    <xsd:simpleType>
                                                                        <xsd:restriction base = "xsd:string">
                                                                            <xsd:enumeration value = "verifies"/>
                                                                            <xsd:enumeration value = "implements"/>
                                                                            <xsd:enumeration value = "fulfils"/>
                                                                            <xsd:enumeration value = "prevents"/>
                                                                            <xsd:enumeration value = "explains"/>
                                                                            <xsd:enumeration value = "threatens"/>
                                                                            <xsd:enumeration value = "resultsin"/>
                                                                            <xsd:enumeration value = "removes"/>
                                                                            <xsd:enumeration value = "detects"/>
                                                                            <xsd:enumeration value = "indicates"/>
                                                                            <xsd:enumeration value = "mitigates"/>
                                                                            <xsd:enumeration value = "causes"/>
                                                                            <xsd:enumeration value = "childof"/>
                                                                            <xsd:enumeration value = "parentof"/>
                                                                            <xsd:enumeration value = "peerof"/>
                                                                            <xsd:enumeration value = "canalsobe"/>
                                                                        </xsd:restriction>
                                                                    </xsd:simpleType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="modelelementassociations" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="modelelementassociation" minOccurs="1" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="modelelementuuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                                                <xsd:element name="modelelementversion" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>                                   
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="noresults"/>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>